.wrapper {
  border-bottom: 1px solid var(--grey-300);
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
  padding-bottom: 1rem;
}
.header {
  font-weight: normal;
}
.total {
  color: var(--primary-800);
  margin-left: .5rem;
}
.info {
  color:  var(--grey-600);
  font-size: 0.8rem;
  margin-left: .5rem;
}