section {
  width: 100%;
  margin-bottom: 32px;
}

.sidebar {
  align-items: flex-start;
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  padding: 1rem 2rem;
  width: 100%;
}